@bg-white:                 #ffffff;
@border-color:             #ececec;

@font:        "Open Sans", "Arial", sans-serif;
@text-color : #444444;


@tablet-width:             768px;
@desktop-width:            1250px;
@mobile-width-only:        767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;