.contacts {
    position: relative;
    .clearfix;
}

.contacts__wrapper {
    .container;
}

.contacts__title {
    font-size: 18px;
    line-height: 30px;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.contacts__item {
    width: 20%;
    margin-right: 10%;
}

.contacts__definition {
    width: 70%;
    margin: 0;
    margin-bottom: 35px;
    &:last-child {
        margin-bottom: 40px;
    }
}

.contacts__email {
    text-decoration: none;
    font-weight: normal;
    color: #5d5d5d;
    border-bottom: 1px solid #62d1ba;

    &:hover,&:focus {
        color: #46c1ae;
        border-color: #46c1ae;
    }
    &:active {
        opacity: 0.5;
    }

}

.contacts__map {
    width: 100%;
    height: 450px;
    margin-bottom: 130px;
}

.contacts__btn {
    width: 260px;
    position: absolute;
    bottom: 0;
    margin: 40px auto;
}

@media (min-width: @tablet-width) {
    .contacts__title {
        font-size: 43px;
        line-height: 50px;
        margin-top: 60px;
        margin-bottom: 50px;
        position: relative;

        &::after {
            content: "";
      
            position: absolute;
            top: -15px;
            right: 0;
      
            width: 50px;
            height: 80px;
      
            background-image: url("../img/sprite_svg/icon-flag.svg");
            background-repeat: no-repeat;
            background-position: 0 0;
          }
    }
    .contacts__list {
        flex-wrap: nowrap;
        margin: 50px 0;
    }
    .contacts__item {
        margin: 0;
    }
    .contacts__definition {
        margin: 0;
    }
    .contacts__map {
        margin-bottom: 165px;
    }
    .contacts__btn {
        width: 230px;
        margin: 60px auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: @desktop-width) {
    .contacts {
        display: flex;
        margin: 0 auto;
        width: 1050px;
        padding: 0 50px;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .contacts__wrapper {
        margin-left: 175px;
        padding: 0;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .contacts__title {
        font-size: 53px;
        line-height: 57px;
        margin: 0;
        padding: 0;

        &::after {
            top:-5px;
            left:-115px;
        }
    }
    .contacts__list {
        flex-wrap: wrap;
        margin: 0;
    }
    .contacts__map {
        flex-basis: 50%;
        margin: 0;
    }
    .contacts__btn {
        position: relative;
        margin: 0;
    }
}