.reviews {
    .container;
}
.reviews__title {
    font-size: 25px;
    line-height: 30px;
}
.reviews__item {
    border: 2px solid green;
    margin: 0;
}
.reviews__author {
    font-size: 17px;
    font-style: normal;
}
.reviews__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reviews__arrow {
    width:50%;
    border: 2px solid red;
}
.reviews__write {
    border: 2px solid blue;
    text-align: center;
    width: 100%;
}

@media @tablet-widths {
    .reviews__title {
        font-size: 43px;
        line-height: 50px;
    }
}